<h1> {{title}}</h1>

      <mat-grid-list cols="4" rowHeight="100px" rowWidth="50px">
        <mat-grid-tile *ngFor="let episode of list">
        <mat-card>   
            <mat-card-content>
             <p> 
                <b>Episode:</b> {{episode.episode}}
                <br>
                <b>Name:</b> {{episode.name}}
                <br>
                <b>Air Date:</b>{{episode.created_at| date:'mediumDate'}}
             </p>
             <!--img  class="images" style="width: 50px; height: 50px;"src="https://static.wikia.nocookie.net/lossimpson/images/1/17/Patty.jpg/revision/latest/scale-to-width-down/340?cb=20101218235409&path-prefix=es"/-->
            </mat-card-content>
        </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
