<mat-sidenav-container>
    <!-- This is your sidenav -->
    <mat-sidenav style="width: 20%" #sidenav [opened]="true" [mode]="'side'"> 
       <mat-nav-list>
         <a mat-list-item  routerLink="/character" routerLinkActive="activebutton">
           Characters
         </a>
         <a mat-list-item  class="button" routerLink="/episodes" routerLinkActive="activebutton ">
           Episodes
         </a>
       </mat-nav-list>
    </mat-sidenav>
 <!-- Content or body of your page-->
     <mat-sidenav-content>
      <router-outlet></router-outlet>  
     </mat-sidenav-content>
 </mat-sidenav-container>