$colorBack: #d6f5f5;
img{
    width: 50px;
    height: 50px;
}
mat-expansion-panel{
margin: 0px 15px 10px 15px;

    mat-expansion-panel-header{
    padding-top: 10px;
    background-color: $colorBack;
    }
    mat-expansion-panel-header:hover{
        background-color: $colorBack;
        margin: 0 !important;
 
    }

}
mat-panel-title{
    background-color: $colorBack;
    margin: 0;

}


.info{
    margin-left: 50px;

}

.status{
    width : 70px;
    padding: 3px;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
}