<div>
  
    <h2>Characters</h2>
    <mat-accordion class="example-headers-align" multi #accordion="matAccordion">

    <mat-expansion-panel hideToggle *ngFor="let character of list let i = index; " #panel1 >
        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
          <mat-panel-title>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <div fxFlex="20" >
                    <img src="{{character.image}}" >
                </div>
                <div fxFlex="70 " class="info">
                  <p>
                    <span style="font-size: 18px;">{{character.name}}</span>
                    <br>
                    <span style="font-size: 12px;">{{character.location}}</span>
                    <br>
                    <span class= "status"
                     [ngStyle]="{'background-color': getRandomColor()}">{{character.status}}</span>
                  </p>
                </div>
            </div>
          </mat-panel-title>
        
        </mat-expansion-panel-header>
        <!--p>This is the primary content of the panel.</p-->
        <app-characters-item-component [list] ="list[i]" [index]="index" [firstPanel] = "firstPanel" [accordion] = "accordion"></app-characters-item-component>
      </mat-expansion-panel>
      </mat-accordion>

</div>

