<div class="container"> 

   <h2>{{title}}</h2>

    <form #myform="ngForm" (ngSubmit) = "onSubmit(myform)" class="form form-register">
      <mat-form-field fxLayout="row" appearance="outline" >
      <label for="name">Name: </label>
       <input name="name" id="name" type="text" [(ngModel)]="list['name']" required>
      </mat-form-field>

      <mat-form-field fxLayout="row" appearance="outline" >
      <label for="Location">Location: </label>
      <input name="location" id="location" type="text"  [(ngModel)]="list['location']" required>
      </mat-form-field>
      <input type="hidden" #charactername="ngModel" [(ngModel)]="list['id']" name="id">


     <div>
      <button value="Reset" (click)="clearForm(myform)">Reset </button>

      <input type="submit" value="Register">
     </div>
      
    </form>
</div>