
$colorOscuro: #008B8B;
$colorClaro: #d6f5f5;
.container{
   
    margin-top: 30px;
    form{
        margin-top: 20px;

        input[type=text]{
            width: 30%;
            padding: 12px 20px;
            height: 20px;
            margin: 0 0 10px 4px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

         button{
            margin-right: 10px;
            background-color: $colorClaro;
            color: $colorOscuro;
            border-style: none;
            width: 70px;
            height: 25px;

        }

        input[type=submit]{
            margin-right: 10px;
            background-color: $colorOscuro;
            color: $colorClaro;
            border-style: none;
            width: 70px;
            height: 25px;

        }
        .custom-success
        {
        position: fixed!important; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 2%;
        bottom: 3%;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
        color: #ffffff;
        }

    }
}
